[submodule "cerata/bearssl/BearSSL"]
	path = cerata/bearssl/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "cerata/cairo/cairo"]
	path = cerata/cairo/cairo
	url = https://anongit.freedesktop.org/git/cairo
[submodule "cerata/cloog/cloog"]
	path = cerata/cloog/cloog
	url = https://repo.or.cz/cloog
[submodule "cerata/curl/curl"]
	path = cerata/curl/curl
	url = https://github.com/curl/curl
[submodule "cerata/drm/drm"]
	path = cerata/drm/drm
	url = https://gitlab.freedesktop.org/mesa/drm
[submodule "cerata/fontconfig/fontconfig"]
	path = cerata/fontconfig/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig
[submodule "cerata/freetype/freetype2"]
	path = cerata/freetype/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2
[submodule "cerata/fribidi/fribidi"]
	path = cerata/fribidi/fribidi
	url = https://github.com/fribidi/fribidi
[submodule "cerata/glib/glib"]
	path = cerata/glib/glib
	url = https://gitlab.gnome.org/GNOME/glib
[submodule "cerata/gnulib/gnulib"]
	path = cerata/gnulib/gnulib
	url = https://git.savannah.gnu.org/git/gnulib
[submodule "cerata/harfbuzz/harfbuzz"]
	path = cerata/harfbuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "cerata/iproute2/iproute2"]
	path = cerata/iproute2/iproute2
	url = https://git.kernel.org/pub/scm/network/iproute2/iproute2
[submodule "cerata/jemalloc/jemalloc"]
	path = cerata/jemalloc/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "cerata/json-c/json-c"]
	path = cerata/json-c/json-c
	url = https://github.com/json-c/json-c
[submodule "cerata/libFS/libfs"]
	path = cerata/libFS/libfs
	url = https://gitlab.freedesktop.org/xorg/lib/libfs
[submodule "cerata/libICE/libice"]
	path = cerata/libICE/libice
	url = https://gitlab.freedesktop.org/xorg/lib/libice
[submodule "cerata/libSM/libsm"]
	path = cerata/libSM/libsm
	url = https://gitlab.freedesktop.org/xorg/lib/libsm
[submodule "cerata/libX11/libx11"]
	path = cerata/libX11/libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11
[submodule "cerata/libXRes/libxres"]
	path = cerata/libXRes/libxres
	url = https://gitlab.freedesktop.org/xorg/lib/libxres
[submodule "cerata/libXScrnSaver/libxscrnsaver"]
	path = cerata/libXScrnSaver/libxscrnsaver
	url = https://gitlab.freedesktop.org/xorg/lib/libxscrnsaver
[submodule "cerata/libXau/libxau"]
	path = cerata/libXau/libxau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau
[submodule "cerata/libXaw/libxaw"]
	path = cerata/libXaw/libxaw
	url = https://gitlab.freedesktop.org/xorg/lib/libxaw
[submodule "cerata/libXcomposite/libxcomposite"]
	path = cerata/libXcomposite/libxcomposite
	url = https://gitlab.freedesktop.org/xorg/lib/libxcomposite
[submodule "cerata/libXcursor/libxcursor"]
	path = cerata/libXcursor/libxcursor
	url = https://gitlab.freedesktop.org/xorg/lib/libxcursor
[submodule "cerata/libXdamage/libxdamage"]
	path = cerata/libXdamage/libxdamage
	url = https://gitlab.freedesktop.org/xorg/lib/libxdamage
[submodule "cerata/libXdmcp/libxdmcp"]
	path = cerata/libXdmcp/libxdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp
[submodule "cerata/libXext/libxext"]
	path = cerata/libXext/libxext
	url = https://gitlab.freedesktop.org/xorg/lib/libxext
[submodule "cerata/libXfixes/libxfixes"]
	path = cerata/libXfixes/libxfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libxfixes
[submodule "cerata/libXfont/libxfont"]
	path = cerata/libXfont/libxfont
	url = https://gitlab.freedesktop.org/xorg/lib/libxfont
[submodule "cerata/libXft/libxft"]
	path = cerata/libXft/libxft
	url = https://gitlab.freedesktop.org/xorg/lib/libxft
[submodule "cerata/libXi/libxi"]
	path = cerata/libXi/libxi
	url = https://gitlab.freedesktop.org/xorg/lib/libxi
[submodule "cerata/libXinerama/libxinerama"]
	path = cerata/libXinerama/libxinerama
	url = https://gitlab.freedesktop.org/xorg/lib/libxinerama
[submodule "cerata/libXmu/libxmu"]
	path = cerata/libXmu/libxmu
	url = https://gitlab.freedesktop.org/xorg/lib/libxmu
[submodule "cerata/libXpm/libxpm"]
	path = cerata/libXpm/libxpm
	url = https://gitlab.freedesktop.org/xorg/lib/libxpm
[submodule "cerata/libXrandr/libxrandr"]
	path = cerata/libXrandr/libxrandr
	url = https://gitlab.freedesktop.org/xorg/lib/libxrandr
[submodule "cerata/libXrender/libxrender"]
	path = cerata/libXrender/libxrender
	url = https://gitlab.freedesktop.org/xorg/lib/libxrender
[submodule "cerata/libXt/libxt"]
	path = cerata/libXt/libxt
	url = https://gitlab.freedesktop.org/xorg/lib/libxt
[submodule "cerata/libXtst/libxtst"]
	path = cerata/libXtst/libxtst
	url = https://gitlab.freedesktop.org/xorg/lib/libxtst
[submodule "cerata/libXv/libxv"]
	path = cerata/libXv/libxv
	url = https://gitlab.freedesktop.org/xorg/lib/libxv
[submodule "cerata/libXvMC/libxvmc"]
	path = cerata/libXvMC/libxvmc
	url = https://gitlab.freedesktop.org/xorg/lib/libxvmc
[submodule "cerata/libXxf86dga/libxxf86dga"]
	path = cerata/libXxf86dga/libxxf86dga
	url = https://gitlab.freedesktop.org/xorg/lib/libxxf86dga
[submodule "cerata/libXxf86vm/libxxf86vm"]
	path = cerata/libXxf86vm/libxxf86vm
	url = https://gitlab.freedesktop.org/xorg/lib/libxxf86vm
[submodule "cerata/libdatrie/libdatrie"]
	path = cerata/libdatrie/libdatrie
	url = https://github.com/tlwg/libdatrie
[submodule "cerata/libdmx/libdmx"]
	path = cerata/libdmx/libdmx
	url = https://gitlab.freedesktop.org/xorg/lib/libdmx
[submodule "cerata/libelf-compat/libelf-compat"]
	path = cerata/libelf-compat/libelf-compat
	url = https://github.com/sabotage-linux/libelf-compat
[submodule "cerata/libfontenc/libfontenc"]
	path = cerata/libfontenc/libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc
[submodule "cerata/libinput/libinput"]
	path = cerata/libinput/libinput
	url = https://gitlab.freedesktop.org/libinput/libinput
[submodule "cerata/libnl-tiny/libnl-tiny"]
	path = cerata/libnl-tiny/libnl-tiny
	url = https://github.com/sabotage-linux/libnl-tiny
[submodule "cerata/libpciaccess/libpciaccess"]
	path = cerata/libpciaccess/libpciaccess
	url = https://gitlab.freedesktop.org/xorg/lib/libpciaccess
[submodule "cerata/libpng/libpng"]
	path = cerata/libpng/libpng
	url = https://github.com/glennrp/libpng
[submodule "cerata/libthai/libthai"]
	path = cerata/libthai/libthai
	url = https://github.com/tlwg/libthai
[submodule "cerata/libuargp/libuargp"]
	path = cerata/libuargp/libuargp
	url = https://github.com/xhebox/libuargp
[submodule "cerata/libxcb/libxcb"]
	path = cerata/libxcb/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb
[submodule "cerata/libxcb-cursor/libxcb-cursor"]
	path = cerata/libxcb-cursor/libxcb-cursor
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-cursor
[submodule "cerata/libxcb-image/libxcb-image"]
	path = cerata/libxcb-image/libxcb-image
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-image
[submodule "cerata/libxcb-keysyms/libxcb-keysyms"]
	path = cerata/libxcb-keysyms/libxcb-keysyms
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-keysyms
[submodule "cerata/libxcb-render-util/libxcb-render-util"]
	path = cerata/libxcb-render-util/libxcb-render-util
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-render-util
[submodule "cerata/libxcb-util/libxcb-util"]
	path = cerata/libxcb-util/libxcb-util
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-util
[submodule "cerata/libxcb-wm/libxcb-wm"]
	path = cerata/libxcb-wm/libxcb-wm
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-wm
[submodule "cerata/libxkbfile/libxkbfile"]
	path = cerata/libxkbfile/libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile
[submodule "cerata/libxshmfence/libxshmfence"]
	path = cerata/libxshmfence/libxshmfence
	url = https://gitlab.freedesktop.org/xorg/lib/libxshmfence
[submodule "cerata/libxtrans/libxtrans"]
	path = cerata/libxtrans/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans
[submodule "cerata/libz/libz"]
	path = cerata/libz/libz
	url = https://gitlab.com/sortix/libz
[submodule "cerata/linenoise/linenoise"]
	path = cerata/linenoise/linenoise
	url = https://github.com/antirez/linenoise
[submodule "cerata/lobase/lobase"]
	path = cerata/lobase/lobase
	url = https://git.duncano.de/lobase
[submodule "cerata/mesa/mesa"]
	path = cerata/mesa/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa
[submodule "cerata/nldev/nldev"]
	path = cerata/nldev/nldev
	url = git://r-36.net/nldev
[submodule "cerata/nlmon/nlmon"]
	path = cerata/nlmon/nlmon
	url = git://r-36.net/nlmon
[submodule "cerata/nnn/nnn"]
	path = cerata/nnn/nnn
	url = https://github.com/jarun/nnn
[submodule "cerata/om4/m4"]
	path = cerata/om4/m4
	url = https://github.com/ibara/m4
[submodule "cerata/opendoas/opendoas"]
	path = cerata/opendoas/opendoas
	url = https://git.duncano.de/opendoas
[submodule "cerata/openscop/openscop"]
	path = cerata/openscop/openscop
	url = https://github.com/periscop/openscop
[submodule "cerata/pango/pango"]
	path = cerata/pango/pango
	url = https://gitlab.gnome.org/GNOME/pango
[submodule "cerata/pixman/pixman"]
	path = cerata/pixman/pixman
	url = https://anongit.freedesktop.org/git/pixman
[submodule "cerata/pkg-config/pkg-config"]
	path = cerata/pkg-config/pkg-config
	url = https://gitlab.freedesktop.org/pkg-config/pkg-config
[submodule "cerata/re2c/re2c"]
	path = cerata/re2c/re2c
	url = https://github.com/skvadrik/re2c
[submodule "cerata/s6-boot-scripts/s6-boot-scripts"]
	path = cerata/s6-boot-scripts/s6-boot-scripts
	url = https://github.com/glaucuslinux/s6-boot-scripts
[submodule "cerata/sbase/sbase"]
	path = cerata/sbase/sbase
	url = https://git.suckless.org/sbase
[submodule "cerata/sdhcp/sdhcp"]
	path = cerata/sdhcp/sdhcp
	url = git://git.2f30.org/sdhcp
[submodule "cerata/sinit/sinit"]
	path = cerata/sinit/sinit
	url = https://git.suckless.org/sinit
[submodule "cerata/smdev/smdev"]
	path = cerata/smdev/smdev
	url = https://git.suckless.org/smdev
[submodule "cerata/svc/svc"]
	path = cerata/svc/svc
	url = git://r-36.net/svc
[submodule "cerata/sway/sway"]
	path = cerata/sway/sway
	url = https://github.com/swaywm/sway
[submodule "cerata/swaybg/swaybg"]
	path = cerata/swaybg/swaybg
	url = https://github.com/swaywm/swaybg
[submodule "cerata/ubase/ubase"]
	path = cerata/ubase/ubase
	url = https://git.suckless.org/ubase
[submodule "cerata/util-macros/macros"]
	path = cerata/util-macros/macros
	url = https://gitlab.freedesktop.org/xorg/util/macros
[submodule "cerata/vis/vis"]
	path = cerata/vis/vis
	url = https://github.com/martanne/vis
[submodule "cerata/wayland/wayland"]
	path = cerata/wayland/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland
[submodule "cerata/wayland-protocols/wayland-protocols"]
	path = cerata/wayland-protocols/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols
[submodule "cerata/weston/weston"]
	path = cerata/weston/weston
	url = https://gitlab.freedesktop.org/wayland/weston
[submodule "cerata/wlroots/wlroots"]
	path = cerata/wlroots/wlroots
	url = https://github.com/swaywm/wlroots
[submodule "cerata/xcbproto/xcbproto"]
	path = cerata/xcbproto/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto
[submodule "cerata/xorgproto/xorgproto"]
	path = cerata/xorgproto/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto
