.bash_history
.bash_history.swp
.cache/
.gitconfig
.lesshst
.ssh/
.subversion/
.vim/
.viminfo
.wget-hsts
cerata/bin86/bin86/
cerata/bin86/bin86-0.16.21.tar.gz
cerata/binutils/binutils/
cerata/binutils/binutils-2.31.1.tar.xz
cerata/byacc/byacc/
cerata/byacc/byacc-20180609.tgz
cerata/curl/curl/
cerata/dash/dash/
cerata/e2fsprogs/e2fsprogs/
cerata/execline/execline/
cerata/file/file/
cerata/gcc/gcc/
cerata/gcc/gcc-8.2.0.tar.xz
cerata/gmp/gmp/
cerata/gmp/gmp-6.1.2.tar.xz
cerata/iproute2/iproute2/
cerata/less/less/
cerata/less/less-547.tar.gz
cerata/libarchive/libarchive/
cerata/libressl/openbsd/
cerata/libressl/portable/
cerata/lilo/lilo/
cerata/lilo/lilo-24.2.tar.gz
cerata/linux/linux-stable/
cerata/lobase/lobase/
cerata/loksh/loksh/
cerata/mandoc/mandoc/
cerata/mandoc/mandoc-1.14.4.tar.gz
cerata/mawk/mawk-snapshots/
cerata/mpc/mpc/
cerata/mpfr/trunk/
cerata/musl/musl/
cerata/netbsd-curses/netbsd-curses/
cerata/nnn/nnn/
cerata/opendoas/OpenDoas/
cerata/pcre2/trunk/
cerata/re2c/re2c/
cerata/s6/s6/
cerata/s6-linux-init/s6-linux-init/
cerata/s6-linux-utils/s6-linux-utils/
cerata/s6-portable-utils/s6-portable-utils/
cerata/s6-rc/s6-rc/
cerata/sbase/sbase/
cerata/sdhcp/sdhcp/
cerata/sinit/sinit/
cerata/skalibs/skalibs/
cerata/smdev/smdev/
cerata/svc/svc/
cerata/ubase/ubase/
cerata/vim/vim/
cerata/xz/xz/
cerata/zlib/zlib/
glaucus.img
logs/
play/
system/
temporary/
toolchain/
