[submodule "bubble"]
  path = bubble
  url = https://github.com/glaucuslinux/bubble
[submodule "cerata"]
  path = cerata
  url = https://github.com/glaucuslinux/cerata
[submodule "rad"]
  path = rad
  url = https://github.com/glaucuslinux/rad
[submodule "s6-boot-scripts"]
  path = s6-boot-scripts
  url = https://github.com/glaucuslinux/s6-boot-scripts
