*.ceras linguist-language=Shell

cerata/*/ceras linguist-language=Shell
cerata/*/ceras/ceras linguist-language=Shell

cerata/elfutils/error.h linguist-language=C
cerata/smdev/config.h linguist-language=C

scripts/arch.aarch64 linguist-language=Shell
scripts/arch.powerpc64 linguist-language=Shell
scripts/arch.powerpc64le linguist-language=Shell
scripts/arch.riscv64 linguist-language=Shell
scripts/arch.x86-64 linguist-language=Shell
scripts/check linguist-language=Shell
scripts/classify linguist-language=Shell
scripts/clean linguist-language=Shell
scripts/construct linguist-language=Shell
scripts/contact linguist-language=Shell
scripts/die linguist-language=Shell
scripts/envenomate linguist-language=Shell
scripts/fetch linguist-language=Shell
scripts/flags.atlanticus linguist-language=Shell
scripts/flags.bennettae linguist-language=Shell
scripts/flags.marginatus linguist-language=Shell
scripts/genome linguist-language=Shell
scripts/gnu linguist-language=Shell
scripts/initialize linguist-language=Shell
scripts/log linguist-language=Shell
scripts/patch linguist-language=Shell
scripts/release linguist-language=Shell
scripts/require linguist-language=Shell
scripts/species linguist-language=Shell
scripts/verify linguist-language=Shell

scripts/chroot/backup linguist-language=Shell
scripts/chroot/check linguist-language=Shell
scripts/chroot/strip linguist-language=Shell
scripts/chroot/construct linguist-language=Shell
scripts/chroot/enter linguist-language=Shell
scripts/chroot/prepare linguist-language=Shell
scripts/chroot/resolv linguist-language=Shell
scripts/chroot/root linguist-language=Shell
scripts/chroot/run linguist-language=Shell
scripts/chroot/variables linguist-language=Shell
scripts/chroot/vkfs linguist-language=Shell

scripts/system/adjust linguist-language=Shell
scripts/system/check linguist-language=Shell
scripts/system/strip linguist-language=Shell
scripts/system/configure linguist-language=Shell
scripts/system/construct linguist-language=Shell
scripts/system/envenomate linguist-language=Shell
scripts/system/img linguist-language=Shell
scripts/system/prepare linguist-language=Shell
scripts/system/run linguist-language=Shell
scripts/system/variables linguist-language=Shell

scripts/toolchain/backup linguist-language=Shell
scripts/toolchain/prepare linguist-language=Shell
scripts/toolchain/run linguist-language=Shell
scripts/toolchain/variables linguist-language=Shell

scripts/toolchain/cross/check linguist-language=Shell
scripts/toolchain/cross/construct linguist-language=Shell
scripts/toolchain/cross/prepare linguist-language=Shell
scripts/toolchain/cross/run linguist-language=Shell
scripts/toolchain/cross/variables linguist-language=Shell

scripts/toolchain/native/check linguist-language=Shell
scripts/toolchain/native/construct linguist-language=Shell
scripts/toolchain/native/prepare linguist-language=Shell
scripts/toolchain/native/run linguist-language=Shell
scripts/toolchain/native/variables linguist-language=Shell
